<div id="main">
    <h1>Calculadora</h1>

    <form style="margin-top:10px;">
        Number 1: <input style="margin-top:10px;" class="inputField" type="text" [(ngModel)]="input1" name="input1"> &nbsp;
        Number 2: <input class="inputField" type="text" [(ngModel)]="input2" name="input2"><br /><br />

        <div class="btn">
            <input class="inputButtom" [ngClass]="['bntStyle']" type="submit" value="+" (click)="sum()">&nbsp;
            <input class="inputButtom" [ngClass]="['bntStyle']" type="submit" value="-" (click)="sub()">&nbsp;
            <input class="inputButtom" [ngClass]="['bntStyle']" type="submit" value="x" (click)="mult()">&nbsp;
            <input class="inputButtom" [ngClass]="['bntStyle']" type="submit" value="/" (click)="div()">&nbsp;
            <br />
        </div>
    </form>
    <p style="margin-top:50px; font-size:24px;">Result: {{result}}</p>
</div>